#questions .default-p {
  margin-bottom: 50px;
}

.questions__card {
  max-width: 510px;
  margin-bottom: 50px;
}

.questions__icon {
  font-size: 20px;
  color: var(--white);
}

.questions__text {
  margin-left: 28px;
}